name: Deploy Infra (JSON Key)

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  # Solo necesitamos el Project ID como variable extra si tu terraform lo pide
  # Pero la autenticación ya traerá el contexto del proyecto
  TF_VAR_project_id: ${{ secrets.PROJECT_ID }} 

jobs:
  terraform-plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      # Ya no necesitamos 'id-token: write' porque usamos llave fija

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    # 1. Autenticación con Llave JSON (Método Clásico)
    - id: 'auth'
      name: 'Authenticate to GCP'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Plan
      # Pasamos el project_id a terraform usando la variable de entorno
      run: terraform plan -input=false
      working-directory: ./terraform

  terraform-apply:
    name: 'Terraform Apply'
    needs: terraform-plan
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    # Autenticación de nuevo para el job de Apply
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false
      working-directory: ./terraform